.wrapper {
    width: 90%;
    margin:0px auto;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 5%;
}


.card {
    border:none;
    color:white;
    flex: 1 1 21%;
    transition-property: transform;
    transition: all 0.3s ease;
    transform: perspective(1px) translateZ(0);
}

.card:hover {
    transform: scale(1.05);
     transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.portfolio-page p{
    color:white !important;
}
