* {
  background-color:#6c999e;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
    /* overflow: hidden; */
    /* height: 1500px; */
}

/* @media(max-width:667px) {
  .App{
    height:1750px;
  }

} */

  .particles {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    /* z-index:-1; */
  }


  .headline {
    padding:50px;
    font-size:3rem;
    font-style:italic;
  }


  .footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}